name: Build Windows App

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build-windows:
    runs-on: windows-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install PySide6 pymupdf pyinstaller cryptography pillow

      - name: Decrypt Template
        env:
          PDF_KEY: ${{ secrets.PDF_KEY }}
        run: |
           python -c "from cryptography.fernet import Fernet; import os; key = os.environ['PDF_KEY']; f = Fernet(key.encode()); data = open('DocSolScantron.enc', 'rb').read(); open('DocSolScantron.pdf', 'wb').write(f.decrypt(data))"

      - name: Build App
        run: |
          pyinstaller --noconsole --onefile --name "AutoBubbler-Win" --icon "AutoBubbler.ico" --add-data "DocSolScantron.pdf;." --add-data "AutoBubbler.ico;." AutoBubbler.py

      - name: Zip Application
        run: |
          Compress-Archive -Path dist/AutoBubbler-Win.exe -DestinationPath dist/AutoBubbler-Win.zip

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: AutoBubbler-Windows
          path: dist/AutoBubbler-Win.zip

      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: dist/AutoBubbler-Windows.zip
